APP_ENV=development
APP_URL=http://localhost:6002

# App
NODE_ENV=local
APP_PORT=6002
APP_NAME=bm
FE_APP_URL=http://localhost:3000

# Database PostgreSQL
DB_POSTGRE_DATABASE=bm
DB_POSTGRE_HOST=localhost
DB_POSTGRE_USERNAME=postgres
DB_POSTGRE_PASSWORD=DB_POSTGRE_PASSWORD
DB_POSTGRE_PORT=5432
DB_POSTGRE_SYNCHRONIZE=true
DB_POSTGRE_LOGGING=true

BASE_BACKEND_PATH=storage/
STORAGE_LOCATED=LOCAL

#redis
REDIS_HOST=REDIS_HOST
REDIS_PORT=REDIS_PORT
REDIS_USERNAME=REDIS_USERNAME
REDIS_PASSWORD=REDIS_PASSWORD

#api
API_URL=API_URL
APP_ID=APP_ID
SECRET_KEY=SECRET_KEY
 
 #jwt
JWT_SECRETKEY=JWT_SECRETKEY
JWT_EXPIRES=10000
JWT_REFRESH_TOKEN=JWT_REFRESH_TOKEN
JWT_EXPIRES_REFRESH=JWT_EXPIRES_REFRESH

USER_PASSWORD=USER_PASSWORD
